<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canadian mortgage rate Vs Immigrants to Canada </title>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script  type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <style>
         body {
         margin: 0;
         }
         ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         width: 15%;
         background-color: #808080;
         position: fixed;
         height: 100%;
         overflow: auto;
         }
         li button {
         background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
         display: block;
         color: #D3D3D3;
         text-decoration: none;
         }

         li button.active {
         background-color: #D8BFD8;
         color: white;
         }
         li button:hover:not(.active) {
         background-color: #555;
         color: white;
         }
      </style>
    <script>

         function showDiv(evt,divID)
         {
           var content = document.getElementsByClassName("content");
            for (i = 0; i < content.length; i++) {
             content[i].style.display = "none";
             }
           var  menulinks = document.getElementsByClassName("menulinks");

         for (i = 0; i < menulinks.length; i++) {
             menulinks[i].className = menulinks[i].className.replace(" active", "");
         }
           document.getElementById(divID).style.display = "block";
           if(divID === "provinceBar")
             {
              document.getElementById("Total_button").click();
             }
            else if(divID === "mortgageLine")
             {
             updateSVG();
             chart1();
             chart2();
             }
             else
             {
             updateSVG();
             ageB();
             }
             evt.currentTarget.className += " active";
         }


         function openCat(evt, catName) {
         var i, tabcontent, tablinks, displayName;
         tabcontent = document.getElementsByClassName("tabcontent");
         for (i = 0; i < tabcontent.length; i++) {
             tabcontent[i].style.display = "none";
         }
         document.getElementById("bar-container").style.display= "none";
         tablinks = document.getElementsByClassName("tablinks");

         for (i = 0; i < tablinks.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" active", "");
         }
         document.getElementById(catName).style.display = "block";
         evt.currentTarget.className += " active";


         displayName = document.getElementById(catName).innerText;
         console.log("dislay name ..... " + displayName);

         updateSVG();
         provB(catName, displayName);
         }


      </script>
</head>
<p>Narrative Visualization</p>
<body>
<h2>Canada Population including International Immigration impact on national mortgages line</h2>
<p>
    How does the international immigrants since year 1990 to Canada have impact on the national mortgage line?
</p>
<ul class="menu" id="menuContainer">
    <li><button id="mortgage" class="menulinks active" onclick="showDiv(event,'mortgageLine')">Mortgage line in Canada</button></li>
    <li><button id="province" class="menulinks" onclick="showDiv(event, 'provinceBar')">Population by Province</button></li>
    <li><button id="ageGroup" class="menulinks" onclick="showDiv(event, 'ageGroupBar')">Population by age group</button></li>
</ul>
<div style="margin-left:15%;padding:1px 16px;height:1200px;border: 2px solid black;
         border-radius: 5px;">
    <div id="mortgageLine" class="content">
        <p>Mortgage rates</p>
        <div id="chart1">
        </div>
        <p> Mortgage approved amount in Canada</p>
        <div id="chart2">
        </div>
        <script src="js/mortgageLineChart.js"></script>
        <script src="js/mortgageLineChart2.js"></script>
    </div>
    <div id="provinceBar" class="content" style="display:none">
        <script type="text/javascript" src="js/provinceBar.js"></script>
        <div class="tab" id="tabContainer">
            <button id="Total_button" class="tablinks" onclick="openCat(event, 'Total')"  >Total</button>
            <button id="NonImmigrants_button" class="tablinks" onclick="openCat(event, 'NonImmigrants')">Non-Immigrants</button>
            <button id="Immigrants_button" class="tablinks" onclick="openCat(event, 'Immigrants')">Immigrants</button>
            <button id="Before2001_button" class="tablinks" onclick="openCat(event, 'Before2001')">Before 2001</button>
            <button id="y2001to2005_button" class="tablinks" onclick="openCat(event, 'y2001to2005')">year 2001 to 2005</button>
            <button id="y2006to2010_button" class="tablinks" onclick="openCat(event, 'y2006to2010')">year 2006 to 2010</button>
            <button id="y2011to2016_button" class="tablinks" onclick="openCat(event, 'y2011to2016')">year 2011 to 2016</button>
            <button id="NonPermanentResidents_button" class="tablinks" onclick="openCat(event, 'NonPermanentResidents')">Non Permanent Residents</button>
        </div>
        <div id="Total" class="tabcontent">
            <h3>Total Population in each Province</h3>
        </div>
        <div id="NonImmigrants" class="tabcontent">
            <h3>Non Immigrants in each Province</h3>
        </div>
        <div id="Immigrants" class="tabcontent">
            <h3>Immigrants in each Province</h3>
        </div>
        <div id="Before2001" class="tabcontent">
            <h3>Total Population in each Province</h3>
        </div>
        <div id="y2001to2005" class="tabcontent">
            <h3>Total Population from year 2001 to 2005 in each Province</h3>
        </div>
        <div id="y2006to2010" class="tabcontent">
            <h3>Total Population from year 2006 to 2010 in each Province</h3>
        </div>
        <div id="y2011to2016" class="tabcontent">
            <h3>Total Population from year 2011 to 2016 in each Province</h3>
        </div>
        <div id="NonPermanentResidents" class="tabcontent">
            <h3>Non PR Population in each Province</h3>
        </div>
        <div id="bar-container" class="tabcontent" data-profile="CSV/canPopulationByProvince.csv" >
        </div>
    </div>

    <div id="ageGroupBar" class="content" style="display:none" >
            <!--<svg width="960" height="500" id="svg3"></svg>-->
            <script type="text/javascript" src="js/ageGroupBar.js" ></script>
            <div class="slides">
                <button id="last">Prev Year</button>
                <button id="next">Next Year</button>
            </div>
        </div>

</div>
</body>
</html>