<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <script type="text/javascript" src="js/cartogram.js"></script>

    <style type="text/css">
      html, body { margin: 0; padding: 0; height: 100%; }
      #map {
        display: block;
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        margin: 0;
      }
      path.province {
        fill: steelblue;
        stroke: white;
      }
      path.province:hover {
        fill: orange;
      }

    </style>
</head>
<body>
<div id="map-container" data-provinces="js/canada.json" data-profile="CSV/sexageGroup_province.csv"></div>
<script type="text/javascript">
      (function () {
        var container = d3.select('#map-container').node(),
            data = container.dataset,
            census = d3.map(),
            scale,
            populationByProvince;

        var width = 960,
            height = 500;

            var proj = d3.geo.albers(),
                path = d3.geo.path().projection(proj);

        var svg = d3.select(container).append("svg")
                .attr("width", width)
                .attr("height", height);

        d3.json(data.provinces, function (canada) {
            d3.csv(data.profile, function (profile) {
            populationByProvince = d3.nest().key(function(d) { return d.provinces; }).entries(profile);
            //console.log("cpopulation by province...." + JSON.stringify(populationByProvince));
                //profile.forEach(function (d) {
                    //census.set(populationByProvince.key, populationByProvince);
                    //console.log("census after mapping...." + JSON.stringify(census));
                //});

                var extent = d3.extent(profile, function (d) { return +d.value; });
                scale = d3.scale.linear()
                    .domain(extent)
                    .range([1, 100]);
                ready(canada, profile);
            });
        });

        function ready(canada, profile) {

            var carto = d3.cartogram()
                .projection(proj)
                .properties(function (geom, topo) {
                    return geom.properties;
                })
                // Morph on the number of characters in province's name.
                .value(function (d) {
                console.log("d......" + d);
                    var p = get_population(d,"1971");
                        s = scale(p);
                    return s;
                });

            var no_morph = create_canada(canada);
            no_morph.attr("transform", "translate(0,250)" +
                           "scale(0.5,0.5)");
            var provinces = create_canada(canada);
            provinces.attr("transform", "translate(450,250)" +
                           "scale(0.5,0.5)");

            var features = carto(canada, canada.objects.provinces.geometries).features;

            provinces.data(features)
                .transition()
                .duration(2000)
                .ease("sin-in-out")
                .attr("d", carto.path);
        }

        function get_population(d, year) {
        var population;
        for(var i = 0; i < populationByProvince.length; i++)
           {
            var prov = populationByProvince[i].key;
            console.log("prov...." + prov);
            if(prov == d.properties.PRENAME)
            {
                var prov_values = populationByProvince[i].values;
                for( var j=0; j<prov_values.length;j++)
                {
                    var y = prov_values[j].year;
                    if(y == year)
                    {
                        population = +prov_values[j].value;
                        console.log("population" + population);
                    }
                 }
             }
           }
        console.log("get population..." + population);
        return population;
          //return +census.get(d.properties.PRENAME).value;
          
        }

        function create_canada(canada) {
            var provinces = svg.append("g")
                .attr("class", "provinces")
                .selectAll("path")
                .data(topojson.feature(canada, canada.objects.provinces).features)//.geometries)
                .enter().append("path")
                .attr("class", "province")
                .attr("d", path);

            provinces.append("title")
                .text(function(d) { return d.id + ": " + d3.format(',')(get_population(d)); });

            return provinces;
        }
      }());

</script>
</body>
</html>