<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canadian mortgage rate Vs Immigrants to Canada </title>
    <style>
   body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #808080;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #D3D3D3;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #D8BFD8;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
    </style>

</head>
<p>Narrative Visualization</p>
<body>

<h2>Canada Population including International Immigration impact on national mortgages line</h2>
<p>
    How does the international immigrants since year 1995 to Canada have impact on the national mortgage line?
</p>
<ul>
    <li><a id="mortgage" class="active" href="./mortgage.html">Mortgage line in Canada</a></li>
    <li><a id="province" href="./provinceBar.html">Population by Province</a></li>
    <li><a id="ageGroup" href="./ageGroup.html">Population by age group</a></li>
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;border: 2px solid black;
    border-radius: 5px;">
    <div id="ageGroupBar" >
        <a href="./ageGroup.html">
            <p>population in age group</p>
        </a>
    </div>
    <div id="provinceBar">
        <a href="./provinceBar.html">
            <p>population by province in bar chart</p>
    </div>
    <div id="mortgageLine">
        <p>mortgage rate</p>


        <svg id="svg1" width="960" height="500"> </svg>
        <script src="js/mortgageLineChart.js"></script>


        <svg id="svg2" width="960" height="500"></svg>
        <script src="js/mortgageLineChart2.js"></script>

    </div>

</div>



</body>
</html>