<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>population by age group</title>
</head>
<body>
<div id="ageGroup" class="ageGroup">
    <svg width="960" height="500" id="svg2"></svg>
    <script type="text/javascript" src="js/ageGroupBar.js" ></script>
    <div class="slides">
        <button id="last">Prev Year</button>
        <button id="next">Next Year</button>
    </div>
</div>
</body>
</html>